@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@keyframes grad {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-webkit-keyframes image_blur {
    0% { -webkit-filter: blur(5px);}
    50% { -webkit-filter: blur(2.5px);}
    100% { -webkit-filter: blur(0px);}
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animate
{
    0%
    {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0,0.2));
    }
    25%
    {
        filter: drop-shadow(0 0 10px rgba(0, 127, 0,0.2));
    }
    50% {
      filter: drop-shadow(0 0 10px rgba(0, 0, 255, 0.2));
    }
    100%
    {
        filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.2));
    }
}

body {
background: linear-gradient(to right top, #323232, #353142, #3b2e4f, #44295b, #502065, #5b1b70, #67137b, #740085, #800098, #8b00ad, #9600c2, #a000d8) no-repeat;
background-size: 100vw 100vh;
} 

.title {
 animation: 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s 1 slideInFromLeft;
  text-align: center;
  font-size: 10vw;
  color: #fff;
  text-shadow: 3px 5px 5px #00000050;
  -webkit-text-stroke-width: 0.05px;
  stroke: white;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
.card {
  width: 15vw;
  height: 25vh;
  background: white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  min-width: fit-content;
  gap: 8px;
  clear: both;
  display: flex;
  flex-direction: row;
  padding: 2px 16px;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: 5vw;
  justify-content: center;
  text-decoration: none;
  color: black;
  align-items: center;
  animation: 1.4s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s 1 slideInFromLeft;
  text-shadow: 2px 2px 4px #00000066;
}

.card:hover {
 box-shadow: inset 0 16px 16px 0 #00000063;
 cursor: pointer;
 animation: animate 3s ease-out infinite;
}

.biobox {
animation: 1.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0s 1 slideInFromLeft;
width: 50vw;
display: block;
padding-top: 50%;
padding-bottom: 50%;
align-content: center;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), inset 0 4px 8px 0 rgba(0,0,0,0.4);
margin: auto;
margin-bottom: 1em;
height: fit-content;
text-align: center;
align-items: center;
background: white;
border-radius: 12px;
padding: 8px;
position: relative;
min-height: fit-content;
font
}

h3 {
  position: relative;
  text-align: center;
    font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 5px 5px #00000033;
}